<p id="notice"><%= notice %></p>

<h1>Measurements</h1>

<table class="table">
  <thead>
    <tr>
      <th>Gender</th>
      <th>Age</th>
      <th>Height (m)</th>
      <th>Weight (kg)</th>
      <th>Pal</th>
      <th>BMI (kg/m<sup>2</sup>)</th>
      <th>Calorie Requirements (KCal)</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.gender %></td>
        <td><%= measurement.age %></td>
        <td><%= measurement.height %></td>
        <td><%= measurement.weight %></td>
        <td><%= measurement.pal %></td>
        <td><%= measurement.bmi %></td>
        <td><%= measurement.req(measurement.weight,measurement.pal) %></td>
        <td><%= link_to 'Show', measurement %></td>
      <% if measurement.user == current_user %>
        <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
        <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.measurements.count == 0 %>
  <%= link_to 'New Measurement', new_measurement_path, class: "btn btn-success" %>
<% else %>
  <%= link_to 'Edit Details', edit_measurement_path(Measurement.last), class: "btn btn-success" %>
<% end %>


<%= link_to 'Back', :back, class: "btn btn-success" %>
