<p id="notice"><%= notice %></p>

<h1>Measurements</h1>

<table class="table">
  <thead>
    <tr>
      <th>Height</th>
      <th>Weight</th>
      <th>Pal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.height %></td>
        <td><%= measurement.weight %></td>
        <td><%= measurement.pal %></td>
        <td><%= link_to 'Show', measurement %></td>
      <% if measurement.user == current_user %>
        <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
        <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement', new_measurement_path, class: "btn btn-success" %>
